body {
  background: url('../images/tweed.png') repeat;
  font-family: 'Roboto', sans-serif;
}

header {
  display: block;
  margin: 30px auto 50px auto;
  height: 80px;
  width: 241px;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

footer {
  margin: 20px 0px;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #78ff00;
}

.post {
  padding: 0px 0px 130px 0px;
}

.title {
  color: #fff;
  padding: 0px;
  margin: 0px;
}

.title a {
  text-decoration: none;
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

.post-date {
  padding: 0px;
  margin: 0px 0px 40px 0px;
  color: #78ff00;
  font-weight: 100;
  font-size: 0.8125rem;
}

.content {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}

.read-more {
  float: right;
  margin: 0px 0px 50px 0px;
}

.read-more a {
  color: #78ff00;
  text-decoration: none;
  margin: 0px 0px 10px 0px;
  font-weight: 100;
}

.pagination {
  border-top: 1px #ffffff solid;
  padding: 10px 0px 70px 0px;
  width: 600px;
  font-weight: 100;
  color: #ffffff;
}

.left {
  float: left;
  width: 33.3%;
}

.right {
  float: right;
  width: 33.3%;
  text-align: right;
}

.center {
  float: left;
  width: 33.3%;
  text-align: center;
}

.white {
  color: #fff;
}
